html, body{
    margin: 0px;
}
.sideBar{
   box-shadow:
  7.8px 0px 1.2px rgba(0, 0, 0, 0.006),
  17.2px 0px 2.7px rgba(0, 0, 0, 0.009),
  28.8px 0px 4.6px rgba(0, 0, 0, 0.011),
  43.4px 0px 6.9px rgba(0, 0, 0, 0.013),
  62.6px 0px 10px rgba(0, 0, 0, 0.015),
  88.6px 0px 14.2px rgba(0, 0, 0, 0.017),
  125.7px 0px 20.1px rgba(0, 0, 0, 0.019),
  182.5px 0px 29.2px rgba(0, 0, 0, 0.021),
  281.3px 0px 45px rgba(0, 0, 0, 0.024),
  500px 0px 80px rgba(0, 0, 0, 0.03);
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    row-gap: 50px;
    background-color: #ffffff;
}
.view{
    padding-inline:50px;
    padding-top: 150px;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    background-color: #E0E0E0;
    width: -webkit-fill-available;
}
.upload{
    display: flex;
    flex-direction: column;
    gap: 25px 25px;
    align-items: center;
}
.inputBox{    
    width: 960px;
    height: 25px;
    border-radius: 10px;
    
}
::placeholder{
    padding: 20px;
    font-weight: 700;
}
.setting{
    padding-bottom: 360px;
}
.icon{
    padding-top: 25px;
}
a{
    text-decoration: none;
    color: inherit;
}
.active{
    background-color: #90CAF9;
    width: -webkit-fill-available;
    overflow: overlay;
    display: flex;
    justify-content: center;
}